<div class="attachment-wrapper">
  <p>Attachments</p>
  <div>
    <div class="no-files" *ngIf="ownerEntity[attachmentsListName]?.length===0">
      No files.
    </div>
      <p *ngFor="let item of ownerEntity.Attachments; let i = index;" class="item">
        <!-- <i class="material-icons">file_upload</i> -->
        <span *ngIf="item.isForUpload">subir</span>
        <!-- <a href="{{API_URL}}_download?directory={{item.Directory}}&fileName={{item.FileName}}&attachmentKind=PR_Attachments" [ngClass]="getToDeleteStyle(i)">{{item.FileName }}</a> -->        
        <a href="">{{item.FileName }}</a>
        <span (click)="cancelRemove(i)" style="float: right;" [ngClass]="getCancelRemoveStyle(i)" class="undo" >undo</span>
        <span (click)="removeAttachment(item, i)" style="float: right;" [ngClass]="getCloseStyle(i)">
          <ion-icon name="close"></ion-icon>
        </span>
      </p>
    <button class="btn-file" (click)="openFileBrowser()">Add files
      <input type="file" id="file" ng2FileSelect [uploader]="uploader" multiple>
    </button>
  </div>
</div>
<!-- <pre>{{ ownerEntity | json }}</pre>  -->