<div class="attachment-wrapper">
  <p>Attachments</p>
  <div>
    <div class="no-files" *ngIf="ownerEntity[attachmentsListName]?.length==0">
      No files.
    </div>
      <p *ngFor="let item of ownerEntity.Attachments; let i = index;" class="item">
        <span *ngIf="item.isForUpload">subir</span>
        <a href="{{API_URL}}_download?directory={{item.Directory}}&fileName={{item.FileName}}&attachmentKind={{ kind }}" [ngClass]="getToDeleteStyle(i)">{{item.FileName }}</a>
        <span (click)="cancelRemove(i)" style="float: right;" [ngClass]="getCancelRemoveStyle(i)" class="undo" >undo</span>
        <span (click)="removeAttachment(item, i)" style="float: right;" [ngClass]="getCloseStyle(i)">
          <ion-icon name="close"></ion-icon>
        </span>
      </p>
      <input type="file" id="file"  (uploader.response)="onUploaderResponse($event);"
       ng2FileSelect [uploader]="uploader" multiple>
  </div>
</div>
<!-- <pre>{{ ownerEntity | json }}</pre>  -->