<div class="card-userForm">
  <div class="account-custom-card-header">
    Accounts
  </div>

  <div class="account-custom-card-body">
    <p class="p-body">Number</p>
    <input type="text" class="input-personalized account-input-lg" 
    [(ngModel)]="baseEntity.Number" (ngModelChange)="on_input_change();">
    
    <p class="p-body">Description</p>
    <textarea matInput [(ngModel)]="baseEntity.Description" matAutosizeMinRows="3" 
    (ngModelChange)="on_input_change();"  matTextareaAutosize matAutosizeMaxRows="10" 
    class="input-personalized account-input-lg"> </textarea>
  </div>

  <div>
    <div class="account-custom-card-footer">
      <button ion-button class="btn-close" (click)="close()">CLOSE</button>
      <button ion-button type="submit" class="btn-save" (click)="save()">SAVE</button>
      <!-- <pre style="background: gray; min-height: 20px;">{{ baseEntity | json }}</pre> -->
    </div>
  </div>
</div>