<div class="card">
  <div class="card-header">
    Accounts
  </div>

  <div class="card-body">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="baseEntity.Value" placeholder="Value" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput [(ngModel)]="baseEntity.Description" placeholder="Comments"
         matAutosizeMinRows="3" (ngModelChange)="on_input_change();" matTextareaAutosize
          matAutosizeMaxRows="10" class="input-personalized textarea-description"> </textarea>
      </mat-form-field>
      <button mat-raised-button mat-dialog-close color="accent" (click)="save()">Save</button>
      <button mat-raised-button mat-dialog-close color="basic">Close</button>
    </div>
  </div>
</div>