<section class="section-list">
  <h1>
    <ion-icon name="ios-book"></ion-icon> Purchase Request List
  </h1>

  <ion-card class="card-items">
    <ion-list>
      <div ion-row class="item" *ngFor="let item of baseList">
        <div (click)="openItem(item)" col-11 col-md-11 class="item-info">
          <ion-label>{{ item.PRNumber.GeneratedNumber }} &nbsp;&nbsp; {{ item.FriendlyIdentifier }}</ion-label>
        </div>
        <div (click)="removeItem(item)" col-1 col-md-1 class="item-delete">
          <div>
            <ion-icon class="icon-delete" name="trash"></ion-icon>
          </div>
        </div>
      </div> 
    </ion-list>  
  </ion-card>
  <button ion-button (click)="addItem()" class="btn-add-item">+</button>

</section>