list-component {

    .logo, .pr-table {
        width: 70%;
        margin: auto;
    }
    .button-fixed-list {
        right: 15% !important;
    }
    @media (min-width:800px) {
        .width-4 {
            width:4%;
        }
        .width-10{
            width:10%;
        }
    }
}