

<div class="logo">
  <h1>
    <ion-icon name="ios-book" md="md-book"></ion-icon> Purchase Request List
  </h1>
</div>
<div class="pr-table table-responsive-vertical shadow-z-1" ng-hide="!baseList || baseList.length == 0">
  <mat-paginator #paginator [pageSize]="filterOptions?.limit" [length]="filterOptions?.itemsCount" [pageIndex]="filterOptions?.page -1"
    [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event.pageIndex + 1, $event.pageSize);">
  </mat-paginator>
  <table class="table table-condensed" style="table-layout: fixed;">
    <thead>
      <tr>
        <th style="width:10%;">PR Number</th>
        <th style="width:89%;">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of baseList" (click)="openItem(item)">
        <td  style="width:10%;" data-title="Account">{{ item.PRNumber.GeneratedNumber }}</td>
        <td  style="width:89%;"data-title="Description">{{ item.FriendlyIdentifier }}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator [pageSize]="filterOptions?.limit" [length]="filterOptions?.itemsCount" 
  [pageIndex]="filterOptions?.page -1" [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event.pageIndex + 1, $event.pageSize);">
  </mat-paginator>
</div>
<div class="logo">
  <button mat-mini-fab color="primary" (click)="addItem()" class="button-fixed button-fixed-list">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </button>
</div>