<div nv-file-drop nv-file-over uploader="uploader" class="AttachmentsBox" over-class="UploaderOverClass" ng-click="$event.stopPropagation();"
    ng-dblclick="addAttachment();$event.stopPropagation();">
    <input type="file" nv-file-select uploader="uploader" multiple style="display:none;" />
    <div class="noselect" ng-show="ownerEntity[attachmentsList].length==0 || ownerEntity[attachmentsList] == null">
        No files.
    </div>
    <p class="input-group noselect" ng-repeat="attachment in ownerEntity[attachmentsList]">
        <a ng-hide="attachment.isForUpload" ng-href="{{baseURL}}attachment_download?directory={{attachment.Directory}}&fileName={{attachment.FileName}}&attachmentKind={{kind}}"
            href="" class="pull-left" ng-style="{'text-decoration': attachment.ToDelete ? 'line-through': '', color:attachment.ToDelete ? 'red': ''}">{{attachment.FileName}}</a>
        
        <span ng-show="attachment.isForUpload" class="glyphicon glyphicon-upload pull-left"></span>
        
        <button ng-show="attachment.isForUpload" class="btn-link pull-left">{{attachment.FileName}}</button>
        
        
        <!-- x -->
        <span class="btn glyphicon glyphicon-remove pull-right btn-sm" ng-hide="printmode || readOnly || attachment.ToDelete" 
        ng-click="removeAttachment(attachment, $index);$event.stopPropagation();"></span>
        
         <!-- (cancel remove) -->
        <span class="btn btn-xs btn-link pull-right" style="color: red;padding: 0;" ng-hide="printmode || readOnly || !attachment.ToDelete"
            ng-click="cancelRemove($index);$event.stopPropagation();">(cancel remove)</span>
    </p>
    <button type="button" ng-hide="readOnly" class="btn btn-success btn-xs hidden-print" ng-click="addAttachment();$event.stopPropagation();">Add File</button>
    <h3>ok</h3>
    <pre>{{ownerEntity | json:4}}</pre>
</div>