// http://ionicframework.com/docs/theming/
// @import "./common/prebuilt-themes/indigo-pink";
@import "./common/prebuilt-themes/ok";
@import "./common/table";

.content {
    background-color: #ebebeb;
}

mat-dialog-container {
    margin: auto;
}



// reusable buttons
.input-personalized { 
	background-color: rgba(238, 238, 238, 0.02);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.36);
	-webkit-appearance: none; 
	box-shadow:none; 
}

.button-fixed {
	position: fixed !important;
	right: 20%;
	bottom: 50px;
	font-size: 20px;
	height: 50px !important; 
	width: 50px !important;
	display: block;
}

.mat-paginator-container {
	height: 50px !important;
	background-color: #e3e3e3;
}

.mat-paginator-page-size-label, .mat-paginator-page-size-select, .mat-paginator-range-label {
	font-size: 17px;
	color: rgb(99, 99, 99);
}

* {
	font-family: 'Roboto', sans-serif;
}