body{
    position: relative;
    overflow-y: auto;
}

body, span{
    font-size: 14px;
}

.btn-print{
    margin-left: 2%;
    font-size: 20px;
}

.mat-icon-button,
.td-select>button,
.add-supplier{
    display: none;
}

#main{
    border: 1px solid #b6b6b6;
    margin: 2%; 
    margin-top: 2%;
    border-radius: 3px;
    padding: 2%;
}

ul{
    padding-left: 25px;
}

.blank-td{
    border-top: 1px solid white;
}

/* tr:nth-last-child(2){
    display: none;
} */
table>thead>tr,
table>thead>th>td,
table>tbody>tr,
table>tbody>tr>td{
    border: 1px solid #b6b6b6;
}

th{
    margin-bottom: 20px;
}

.print-total{
    text-align: center;
}

.print-total>td{
    font-size: 18px !important;
}

.form {
    display: flex;
    margin-top: 40px;
}

.form-description{
    width: 60%;
    font-weight: 600;
    font-size: 15px;
}

.form-value {
    margin-bottom: 20px;
}

@media print {
    .btn-print {
        display: none;
    }
}