 @page{
        size: landscape;
    }
    input{
        background: white;
        color: black;
    }

    th{
        border-bottom: 1px solid #ddd;
        vertical-align: middle !important;
    }

    input{
        border: none;
        min-height: 20px;
        padding: 2px !important;
    }
    .ponumber{
        font-weight: 900;
    }
    pre{
        font-family: inherit;
        font-size: inherit;
        border-radius: 0;
        border: none;
        height: 100%;
        line-height: 20px;
        background: transparent;
        vertical-align: top;
        padding: 0 0;
        margin: 0;
    }