<tbody>
    <tr ng-repeat="item in baseList">
        <td style="text-align: center !important;">
            <button ng-if="item.id > 0" class="btn btn-xs btn-link" ng-click="removeItemLocally($index);">Delete</button>
        </td>
        <td>
            <md-input-container>
                <input ng-model="item.ItemNumber" ng-change="on_input_change(item);handleDynamicRows(baseList)">
            </md-input-container>
        </td>
        <td>
            <md-input-container>
                <textarea ng-model="item.Description" ng-change="on_input_change(item);handleDynamicRows(baseList)"></textarea>
            </md-input-container>
        </td>
        <td>
            <md-input-container>
                <input ng-model="item.UM" ng-change="on_input_change(item);handleDynamicRows(baseList)">
            </md-input-container>
        </td>
        <td>
            <md-input-container>
                <input style="text-align: right;" ng-model="item.Qty" ng-change="on_input_change(item);handleDynamicRows(baseList)">
            </md-input-container>
        </td>
        <td>
            <md-input-container>
                <input style="text-align: right;" ng-model="item.PriceEach" ng-change="on_input_change(item);handleDynamicRows(baseList)">
            </md-input-container>
        </td>
        <td>
            <p class="form-control-static text-right">{{item.PriceEach * item.Qty | currency}}</p>
        </td>
    </tr>
</tbody>
