
<div class="logo">
  <h1>
    <ion-icon ios="ios-card" md="md-card"></ion-icon> Accounts
  </h1>
</div>
<div class="account-table table-responsive-vertical shadow-z-1" ng-hide="!baseList || baseList.length == 0">
  <mat-paginator #paginator [pageSize]="filterOptions?.limit" [length]="filterOptions?.itemsCount" [pageIndex]="filterOptions?.page -1"
  [pageSizeOptions]="[5, 10, 20, 50, 100]" (page)="pageChanged($event.pageIndex + 1, $event.pageSize);">
  </mat-paginator>
  <table class="table table-condensed" style="table-layout: fixed;">
    <thead>
      <tr> 
        <th class="width-20" >Account Number</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of baseList" (click)="openItem(item)">
        <td class="width-20" data-title="Account Number">{{ item.Value }}</td>
        <td data-title="Description">{{ item.Description }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="logo">
  <button mat-mini-fab color="primary" (click)="addItem()" class="button-fixed">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </button>
</div>

<!-- (click)="openItem(item)" -->
<!-- <pre>{{ baseList | json }}</pre> -->