<div class="card">
  <div class="card-header">
    Email Account
  </div>

  <div class="card-body">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput type="email" [(ngModel)]="baseEntity.Email"
          placeholder="Email" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" [(ngModel)]="baseEntity.EmailPassword"
        (ngModelChange)="on_input_change();">
      </mat-form-field>
      <!-- <button ion-button (click)="save()">Save</button> -->
      <!-- <button ion-button color="light" (click)="testEmail()" >Send test email</button> -->
      
      <button mat-raised-button color="accent" (click)="save()">Save</button>
      <button mat-raised-button color="basic" (click)="testEmail()" >Send test email</button>
    </div>
  </div>
</div>

<!-- <pre>{{ baseEntity | json }}</pre> -->