email-form-component {
    .card {
        background-color: white;
        width: 50%;
        margin: auto;
        margin-top: 2%;
        height: 400px;
    }

    .card-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #00679b;
        color:white;
        font-size: 22px;
        font-weight: 300;
        padding:10px;
        border-bottom: 1px solid #acacac;
    }

    // .card-header {
    //     font-size: 22px;
    //     font-weight: 400;
    //     text-align: center;
    //     padding:10px;
    //     border-bottom: 1px solid #00679b;
    //     color: #00679b;
    //     width: 75%;
    //     margin: auto;
    // }



    .card-body {
        padding: 2em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .example-form {
        min-width: 150px;
        width: 100%;
        font-size: 20px;
    }

    .example-full-width {
        width: 100%;
    }

    .example-form > button {
        width: 180px;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }
}