email-form-component {
 
    .tab-divider {
       width: 70%;
        margin: auto;
    }
    
    .card {
        background-color: white;
        width: 80%;
        margin: auto;
        height: 400px;
        margin-top: 3%;
        box-shadow: 1px 1px 2px #b7b7b7;
    }

    .card-header {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        color:white;
        font-size: 22px;
        font-weight: 300;
        padding:10px;
        border-bottom: 1px solid #acacac;
    }  

    .card-body {
        padding: 2em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .example-form {
        min-width: 150px;
        width: 100%;
        font-size: 20px;
    }

    .example-full-width {
        width: 100%;
    }

    .example-form > button {
        width: 180px;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }
}