approval-component {

    section {
        width: 80%;
        margin: auto;
    }
    
    .icon-status {
        font-size: 28px;
        font-weight: 800;
        margin-left: 35%;
    }
    
    .icon-pending {
        color: gray;
    }

    .icon-ok {
        color: teal;
    }

    .icon-fail {
        color: red;
    }

    @media (min-width:800px) {
        .width-4 {
            width:4%;
        }
        .width-10{
            width:10%;
        }
    }
}