
<div class="logo">
  <h1>
    <ion-icon name="ios-contact" md="md-book"></ion-icon> Approvals
  </h1>
</div>

<div class="approval-table table-responsive-vertical shadow-z-1" ng-hide="!baseList || baseList.length == 0">
  <mat-paginator #paginator [pageSize]="filterOptions?.limit" [length]="filterOptions?.itemsCount" [pageIndex]="filterOptions?.page -1"
    [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event.pageIndex + 1, $event.pageSize);">
  </mat-paginator>
  <table class="table table-condensed" style="table-layout: fixed;">
    <thead>
      <tr>
        <th class="width-4"><ion-icon ios="ios-create" md="md-create" class="icon-status"></ion-icon></th>
        <th class="width-10">Status</th>
        <th class="width-10">Requested by</th>
        <th>Description</th>
        <th>Manager Response</th>
        <th>Date Requested</th>
        <th>Date Last Edited</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of baseList" (click)="openItem(item)">
        <td class="width-4">
          <ion-icon name='ios-checkmark' class="icon-status icon-ok" *ngIf="item.Status == 'DM Approved' 
                        || item.Status == 'Finalized'
                        || item.Status == 'PM Approved'
                        || item.Status == 'DM Quote Approved'
                        || item.Status == 'GM Approved' "></ion-icon>
          <ion-icon  name='ios-remove-circle-outline' class="icon-status icon-pending" *ngIf="item.Status == 'Pending' 
                        || item.Status == 'MRO Quote'
                        || item.Status == 'Quoted'
                        || item.Status == 'DM Quote'
                        || item.Status == 'MRO Quoted'
                        || item.Status == 'Finance Quote'
                        || item.Status == 'Quote Rejected' "></ion-icon>
          <ion-icon name='ios-close-outline' class="icon-status icon-fail" *ngIf="item.Status == 'DM Rejected' 
                        || item.Status == 'PM Rejected' 
                        || item.Status == 'GM Rejected'
                        || item.Status == 'DM Quote Rejected' "></ion-icon>
        </td>
        <td class="width-10" data-title="Status"> {{ item.Status }}</td>
        <td class="width-10" data-title="Requested By">{{ item.InfoTrack?.User_CreatedBy.Value }}</td>
        <td data-title="Description">{{ item.RequestDescription }}</td>
        <td data-title="Date Requested">{{ item.ResponseDescription }}</td>
        <td data-title="Date Requested">{{ item.InfoTrack?.Date_CreatedOn | date: 'medium'}}</td>
        <td data-title="Date Last Edited">{{ item.InfoTrack?.Date_EditedOn | date: 'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <pre>{{ baseList | json }}</pre> -->