
<div class="logo">
  <h1>
    <ion-icon name="ios-contact" md="md-book"></ion-icon> Approvals
  </h1>
</div>

<div class="approval-table table-responsive-vertical shadow-z-1" ng-hide="!baseList || baseList.length == 0">
  <mat-paginator #paginator [pageSize]="filterOptions?.limit" [length]="filterOptions?.itemsCount" [pageIndex]="filterOptions?.page -1"
    [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event.pageIndex + 1, $event.pageSize);">
  </mat-paginator>
  <table class="table table-condensed" style="table-layout: fixed;">
    <thead>
      <tr>
        <th style="width: 150px;">PR Number</th>
        <th>Description</th>
        <th>Manager Response</th>
        <th>Status</th>
        <th>Date Requested</th>
        <th style="width: 110px;">Requested By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of baseList" (click)="openItem(item)">
        <td data-title="PR Number">{{ item.PurchaseRequestKey}}</td>
        <td data-title="Description">{{ item.RequestDescription }}</td>
        <td data-title="Date Requested">{{ item.ResponseDescription }}</td>
        <td data-title="Status">{{ item.Status }}</td>
        <td data-title="Date Requested">{{ item.DateRequested }}</td>
        <td data-title="Requested By">{{ item.InfoTrack?.User_CreatedBy.Value }}</td>
      </tr>
    </tbody>
  </table>
</div>