<div class="card">
  <div class="card-header">
    Department
  </div>

  <div class="card-body">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="baseEntity.Value" placeholder="Value" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Budget" [(ngModel)]="baseEntity.Budget" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="baseEntity.ManagerKey" (ngModelChange)="on_input_change(item);">
          <mat-option *ngFor="let user of users" [value]="user.UserKey">
            {{ user.Value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button mat-dialog-close color="accent" (click)="save()">Save</button>
      <button mat-raised-button mat-dialog-close color="basic">Close</button>
    </div>
  </div>
</div>




<!-- <pre style="background: rgb(255, 255, 255);min-height: 20px;">{{ users | json }}</pre> -->