<div class="card-userForm">
  <div class="department-custom-card-header">
    Department
  </div>

  <div class="department-custom-card-body">
    <p class="p-body">Name</p>
    <input type="text" class="input-personalized department-input-lg"
     (ngModelChange)="on_input_change();">

    <p class="p-body">Budget</p>
    <input type="text" class="input-personalized department-input-lg"
     (ngModelChange)="on_input_change();">

    <div class="div-select-role">
      <p>Users allowed</p>
      <mat-select placeholder="Select.."  (ngModelChange)="on_input_change(item);">
        <mat-option *ngFor="let user of users" [value]="user.value">
          {{ user.value }}
        </mat-option>
      </mat-select>
    </div>

  </div>

  <div>
    <div class="department-custom-card-footer">
      <button ion-button class="btn-close" (click)="close()">CLOSE</button>
      <button ion-button type="submit" class="btn-save" (click)="save()">SAVE</button>
      <pre style="background: gray; min-height: 20px;">{{ baseEntity | json }}</pre>
    </div>
  </div>
</div>