.department-card {
    border-radius: 5px;
    background-color: white;
    height: 300px;
    width: 400px;
}

.department-card-header {
    color: #4c88ff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #777777;
}

.department-card-body {
    height: 85%;
    padding: 1em;
}

.department-card-body > p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.department-card-body > input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.department-card-body > mat-select {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.department-card-footer {
    float: right;
}

.btn-close {
    background-color: #6060f2;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    padding: 7px;
    margin-top: 10px;
    margin-right: 5px;
}

.btn-save {
    background-color: #006e1c;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    padding: 7px;
    margin-top: 10px;
    margin-right: 5px;
}