
<div class="logo">
  <h1>
    <ion-icon name="ios-book" md="md-book"></ion-icon> Departments
  </h1>
</div>
<div class="department-table table-responsive-vertical shadow-z-1" ng-hide="!baseList || baseList.length == 0">
  <table class="table table-condensed" style="table-layout: fixed;">
    <thead>
      <tr>
        <th>Department</th>
        <th>Manager</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of baseList" (click)="openItem(item)">
        <td data-title="Department">{{ item.Value }}</td>
        <td data-title="Manager">{{ item.Manager?.Value }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="logo">
  <button mat-mini-fab color="primary" (click)="addItem()" style="float:right;">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </button>
</div>