<div class="container-fluid printableZone" style="max-width: 1200px;margin-bottom: 50px;">
    <div layout="column">
        <h3 flex>Purchase Request</h3>
        <!-- <pre>{{baseEntity | json:4}}</pre> -->
        <p flex class="text-right"><span>PR Number: {{baseEntity.PRNumber.GeneratedNumber}}</span></p>
        <div flex>
            <md-input-container style="max-width: 400px;">
                <label>Friendly Identifier</label>
                <input type="text" ng-model="baseEntity.FriendlyIdentifier">
            </md-input-container>
        </div>
        <div class="table-responsive" style="margin-top:20px;min-height: 250px;">
            <table class="table table-condensed table-bordered PRLine">
                <thead>
                    <tr>
                        <th style="width: 80px">#</th>
                        <th style="width: 150px">Item Number</th>
                        <th>Description</th>
                        <th style="width: 100px">U/M</th>
                        <th style="width: 130px">Qty.</th>
                        <th style="width: 130px">Price Each</th>
                        <th style="width: 130px">Total</th>
                    </tr>
                </thead>
                <tbody ng-controller="PrLineListController">
                    <tr ng-repeat="item in baseList">
                        <td>{{$index + 1}}</td>
                        <td>
                            <md-input-container>
                                <input ng-model="item.ItemNumber" ng-change="on_input_change(item);handleDynamicRows(baseList)">
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <textarea ng-model="item.Description" ng-change="on_input_change(item);handleDynamicRows(baseList)"></textarea>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input ng-model="item.UM" ng-change="on_input_change(item);handleDynamicRows(baseList)">
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input style="text-align: right;" ng-model="item.Qty" ng-change="on_input_change(item);handleDynamicRows(baseList)">
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input style="text-align: right;" ng-model="item.PriceEach" ng-change="on_input_change(item);handleDynamicRows(baseList)">
                            </md-input-container>
                        </td>
                        <td>
                            <p class="form-control-static text-right">{{item.PriceEach * item.Qty | currency}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <table class="table table-condensed PRLine" style="width: 400px;">
                    <tbody>
                        <tr>
                            <td style="text-align: right;">Purpose or Use</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <input type="text" ng-model="baseEntity.PurposeOrUse">
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Requisition Name</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <input type="text" ng-model="baseEntity.RequisitionName">
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Department</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <input type="text" ng-model="baseEntity.Department">
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Date</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <md-datepicker ng-model="baseEntity.ConvertedDateDepartmentManager" md-hide-icons="all"></md-datepicker>
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Department Manager</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <input type="text" ng-model="baseEntity.DepartmentManager">
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table table-condensed PRLine" style="width: 400px;">
                    <tbody>
                        <tr>
                            <td style="text-align: right;">General Manager</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <input type="text" ng-model="baseEntity.GeneralManager">
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Date</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <md-datepicker ng-model="baseEntity.ConvertedDateGeneralManager" md-hide-icons="all"></md-datepicker>
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Account No.</td>
                            <td style="width: 200px;">
                                <md-input-container>
                                    <input type="text" ng-model="baseEntity.AccountNo">
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<nav class="toolbar-bottom">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-raised" ng-click="print()">
                Print Preview
            </md-button>
            <md-button class="md-raised" ng-click="save()">
                Save
            </md-button>
        </div>
    </md-toolbar>
</nav>
