.print {
	display: none;
}

.grid-thead {
	background-color: hsl(0, 0%, 88%);
    text-align: center;
    padding: 2px;
    font-weight: 900;
	font-size: 16px;
}
.btn-link {
	background-color: #ececec; 

    width: 70%;
	height: 70%;
	border-radius: 4px;
}
.input-personalized {
	width: 60%;
	background-color: rgba(238, 238, 238, 0.02);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.36);
	-webkit-appearance: none;
	box-shadow:none;
}

.input-personalized-no-border {
	width: 100%;
	border: none;
	-webkit-appearance: none;
	-moz-border-radius: 2px;
	box-shadow:none;
	border-radius: 2px;
	text-align: center;
}
 
.grid-tr {
	border: 1px solid #acacac;
}

.grid-tr > td {
    border: 1px solid #acacac;
    height: 10px;
}
