<ion-content>
    <mat-sidenav-container class="nav-container">
        <mat-sidenav class="nav-sidenav" #sidenav [mode]="mode.value">
            <div class="nav-title">
                <H1>PR System</H1>
            </div>
            <div (click)="sidenav.toggle()" class="nav-menus" (click)="openPR()">
                <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>&nbsp;&nbsp; PR List
            </div>
            <div (click)="sidenav.toggle()" class="nav-menus" (click)="openApproval()">
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"> </ion-icon>&nbsp;&nbsp; Approvals
            </div>
            <div (click)="sidenav.toggle()" class="nav-menus" (click)="openAccount()">
                <ion-icon ios="ios-card" md="md-card"></ion-icon>&nbsp;&nbsp; Accounts
            </div>
            <div *ngIf="getUserRole() == 'Administrator' " (click)="sidenav.toggle()" class="nav-menus" (click)="openDepartment()">
                <ion-icon ios="ios-filing" md="md-filing"></ion-icon>&nbsp;&nbsp; Departments
            </div>
            <div *ngIf="getUserRole() == 'Administrator' " (click)="sidenav.toggle()" class="nav-menus" (click)="openUser()">
                <ion-icon md="md-contact"></ion-icon>&nbsp;&nbsp; Users
            </div>
            <div (click)="sidenav.toggle()" class="nav-menus" (click)="openSupplier()">
                <ion-icon md="md-contact"></ion-icon>&nbsp;&nbsp; Suppliers
            </div>
            <div (click)="sidenav.toggle()" class="nav-menus" (click)="openProfile()">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>&nbsp;&nbsp; Profile
            </div>
            <div (click)="sidenav.toggle()" class="nav-menus" (click)="logout()">
                <ion-icon ios="ios-power" md="md-power"></ion-icon>&nbsp;&nbsp; Logout
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="nav-bar">
                <button mat-raised-button (click)="sidenav.toggle()" color="basic">
                    <ion-icon ios="ios-reorder" md="md-reorder"></ion-icon>
                </button>
                <span class="title">USERS</span>
                <button mat-raised-button class="full-menu-button profile" color="basic" [matMenuTriggerFor]="menu">
                    <ion-icon name="ios-contact"></ion-icon> {{ getUserName() | uppercase }}
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openProfile()">Profile</button>
                        <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                </button>
                <button mat-raised-button *ngIf="getUserRole() == 'Administrator' " class="full-menu-button" color="accent" (click)="openUser()">Users</button>
                <button mat-raised-button class="full-menu-button" color="basic" (click)="openSupplier()">Suppliers</button>
                <button mat-raised-button *ngIf="getUserRole() == 'Administrator' " class="full-menu-button" color="basic" (click)="openDepartment()">Departments</button>
                <button mat-raised-button class="full-menu-button" color="basic" (click)="openAccount()">Accounts</button>
                <button mat-raised-button class="full-menu-button" color="basic" (click)="openApproval()">Approvals</button>
                <button mat-raised-button class="full-menu-button" color="basic" (click)="openPR()">PR List</button>
            </div>

            <users-component></users-component>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ion-content>