<div>
    <ion-card>
        <ion-card-header> 
            <ion-grid>
                <ion-row>
                    <ion-col col-10 col-sm-10 col-md-10 col-lg-10 col-lg-10>
                        <h1>Purchase Request</h1>
                    </ion-col>
                    <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-lg-2> 
                        <b>PR Number:</b> {{ baseEntity.PRNumber?.GeneratedNumber }}
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div style="margin-left:10px;margin-top:10px;">
                <h3><b>Friendly Identifier</b></h3>
                <input type="text" class="form-input border-bottom" style="width:94%;" (ngModelChange)="on_input_change()"
                 [(ngModel)]="baseEntity.FriendlyIdentifier" />
            </div>
            <attachments-box-component [ownerEntity]="baseEntity"></attachments-box-component>

        </ion-card-header>

        <ion-card-content>
            

            <div class="table-responsive form-grid">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="2">
                                <mat-select placeholder="$" style="width:29%;" [(ngModel)]="baseEntity.SupplierCurrency1" (ngModelChange)="on_input_change(item);">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{ currency.value }}
                                    </mat-option>
                                </mat-select>
                                <input type="text" placeholder="Supplier 1"  style="width:60%;"  class="form-input"
                                 [(ngModel)]="baseEntity.Supplier1" (ngModelChange)="on_input_change();">
                            </th>
                            <th  colspan="2">
                                    <mat-select placeholder="$" style="width:29%;" [(ngModel)]="baseEntity.SupplierCurrency2" (ngModelChange)="on_input_change(item);">
                                        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                            {{ currency.value }}
                                        </mat-option>
                                    </mat-select> 
                                    <input type="text" placeholder="Supplier 2" style="width:60%;"  class="form-input"
                                     [(ngModel)]="baseEntity.Supplier2" (ngModelChange)="on_input_change();">
                            </th>
                            <th colspan="2">
                                <mat-select placeholder="$" style="width:29%;" [(ngModel)]="baseEntity.SupplierCurrency3"
                                 (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{ currency.value }}
                                    </mat-option>
                                </mat-select>
                                <input type="text" placeholder="Supplier 3" style="width:60%;" class="form-input"
                                 [(ngModel)]="baseEntity.Supplier3" (ngModelChange)="on_input_change();">
                            </th>
                        </tr>
                        <tr> 
                            <th width="6%">Item number</th>
                            <th width="35%">Description</th>
                            <th width="5%">U/M</th>
                            <th width="4%">Quantity.</th>
                            <th width="7%">Price Each</th>
                            <th width="7%">Total</th>
                            <th width="7%">Price Each</th>
                            <th width="7%">Total</th>
                            <th width="7%">Price Each</th>
                            <th width="7%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let item of baseEntity.PRLines; let i = index;" class="grid-tr">
                                <td width="6%">
                                    <input [(ngModel)]="item.ItemNumber" class="form-input" style="width:99%;"
                                    (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                </td>
                            
                                <td width="55%">
                                    <textarea matInput class="form-input"  style="width:99%;"
                                    [(ngModel)]="item.Description" matTextareaAutosize matAutosizeMaxRows="10"
                                    (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"> </textarea>
                                </td>
                            
                                <td width="5%">
                                    <input class="form-input" [(ngModel)]="item.UM" style="width:99%;"
                                    (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                </td>
                            
                                <td width="5%">
                                    <input class="form-input" [(ngModel)]="item.Qty" style="width:99%;"
                                    (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                </td>
                            
                                <td width="7%">
                                    <input class="form-input" [(ngModel)]="item.PriceEach" style="width:99%;"
                                    (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                </td>
                            
                                <td width="7%">
                                    <p style="text-align: center;font-weight: bold;">{{item.PriceEach * item.Qty | currency}}</p>
                                </td>

                                <td width="5%">
                                    <input class="form-input"  style="width:99%;"
                                    [(ngModel)]="item.PriceEach2" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                </td>
                                
                                <td width="5%">
                                    <p style="text-align: center;font-weight: bold;">{{item.PriceEach2 * item.Qty | currency}}</p>
                                </td>
                                <td width="7%">
                                    <input class="form-input" style="width:99%;"
                                    [(ngModel)]="item.PriceEach3" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                </td>
                                
                                <td width="7%">
                                    <p style="text-align: center;font-weight: bold;">{{item.PriceEach3 * item.Qty | currency}}</p>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>

            <div col-12 class="notes">
                <p>Notes</p>
                <textarea matInput [(ngModel)]="baseEntity.Notes" matAutosizeMinRows="2"
                (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"
                    matTextareaAutosize matAutosizeMaxRows="10" class="form-input border-bottom" style="width:98%;"> </textarea>
            </div>

            <ion-grid>
                <ion-row>
                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding style="background-color: rgb(255, 255, 255);">
                        <ion-grid>
                            <ion-row col-12 col-md-12 col-lg-12 col-xl-12>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Purpose or Use
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="form-input input-md border-bottom" [(ngModel)]="baseEntity.PurposeOrUse" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Requisition name
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="form-input input-md border-bottom" [(ngModel)]="baseEntity.RequisitionName" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Department
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                    <mat-select [(ngModel)]="baseEntity.Department" placeholder="Select.." 
                                        (ngModelChange)="on_input_change(item);" class="border-bottom" style="width:80%;">
                                        <mat-option *ngFor="let department of departments" [value]="department.id">
                                            {{ department.Value }}
                                        </mat-option> 
                                    </mat-select>
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Date
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" class="date-input form-input input-md border-bottom"
                                        (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.ConvertedDateDepartmentManager">
                                        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Department manager
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                    <mat-select [(ngModel)]="baseEntity.DepartmentManager" placeholder="Select.." 
                                    (ngModelChange)="on_input_change(item);" class="border-bottom" style="width:80%;">
                                        <mat-option *ngFor="let user of users" [value]="user.id">
                                            {{ user.Value }}
                                        </mat-option>
                                    </mat-select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>

                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding style="background-color: rgb(255, 255, 255);">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Manager Signature
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="form-input input-md border-bottom" [(ngModel)]="baseEntity.PurposedOrUse" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        General Manager
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="form-input input-md border-bottom" [(ngModel)]="baseEntity.GeneralManager" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Date
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input [matDatepicker]="myDatepicker2" (click)="myDatepicker2.open()" class="date-input form-input input-md border-bottom"
                                        (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.ConvertedDateGeneralManager">
                                        <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker2></mat-datepicker>
                                    </ion-col>
                                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Account No.
                                    </ion-col>
                                    <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <mat-select [(ngModel)]="baseEntity.AccountNo" placeholder="Select.." 
                                        (ngModelChange)="on_input_change(item);" class="border-bottom" style="width:80%;">
                                            <mat-option *ngFor="let account of accounts" [value]="account.id">
                                                {{ account.Value }}
                                            </mat-option>
                                        </mat-select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>
    <div class="footer-nav">
        <button type="submit" (click)="save()" class="footer-save">
            <ion-icon name="ios-save"></ion-icon>SAVE</button>
        <button type="button" (click)="openModal()" class="footer-save">
            <ion-icon name="ios-save"></ion-icon>Request</button>
    </div><br>
</div>

<br><br>
<!-- <pre style="background: rgb(255, 255, 255);min-height: 20px;">{{ baseEntity | json }}</pre>
<pre style="background: rgb(255, 255, 255);min-height: 20px;">{{ approval | json }}</pre> -->
