.print {
	display: none;
}

.grid-thead {
	background-color: hsl(0, 0%, 88%);
    text-align: center;
    padding: 2px;
    font-weight: 900;
	font-size: 16px;
}

.btn-link {
	background-color: white;
	font-weight: 800;
	font-size: 16px;
	height: 100%;
	width: 100%;
}
.input-personalized {
	width: 90%;
	background-color: rgba(238, 238, 238, 0.02);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.36);
	-webkit-appearance: none;
	box-shadow:none;
}

.input-personalized-no-border {
	width: 100%;
	border: none;
	-webkit-appearance: none;
	-moz-border-radius: 2px;
	box-shadow:none;
	border-radius: 2px;
	text-align: center;
}
 
.grid-tr {
	border: 1px solid #acacac;
}

.grid-tr > td {
    border: 1px solid #acacac;
    height: 10px;
}


.footer-save {
    float: right;
    width: 100px;
    height: 35px;
    margin-top: 0.5%;
    margin-right: 0.7%;
    font-size: 18px;
    font-weight: 400;
	background-color: rgba(0, 136, 45, 0.925);
	color: white;
    box-shadow: 3px 2px 4px gray;
    margin-bottom: 2%;
}
.footer-save:hover{
    background-color: rgb(0, 71, 24);
    transition:all 0.3s ease;
}
