<div>
    <ion-card>
        <ion-card-header> 
            
            <ion-grid>
                <ion-row>
                    <ion-col col-10 col-sm-10 col-md-10 col-lg-10 col-lg-10>
                        <h1>Purchase Request</h1>
                    </ion-col>
                    <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-lg-2> 
                        <b>PR Number:</b> {{ baseEntity.PRNumber?.GeneratedNumber }}
                    </ion-col>
                </ion-row>
            </ion-grid>
            <br>
            <div style="margin-left:10px;">
                <h3><b>Friendly Identifier</b></h3>
                <input type="text" class="input-personalized" (ngModelChange)="on_input_change()"
                 style="width:40%;" [(ngModel)]="baseEntity.FriendlyIdentifier" />
            </div>
            <attachments-box-component [ownerEntity]="baseEntity"></attachments-box-component>


            </ion-card-header>

        <ion-card-content>

            <div class="table-responsive">
                <table class="table grid">
                    <tbody>
                        <tr class="grid-tr">
                            <td class="grid-thead" style="width: 5%" colspan="4"></td>
                            <td class="grid-thead" style="width: 5%" colspan="3">
                                <input type="text" placeholder="Supplier 1" style="text-align:center;"
                                class="input-personalized" [(ngModel)]="baseEntity.Supplier1" (ngModelChange)="on_input_change();">
                            </td>
                            <td class="grid-thead" style="width: 5%" colspan="3">
                                <input type="text" placeholder="Supplier 2"  style="text-align:center;"
                                class="input-personalized" [(ngModel)]="baseEntity.Supplier2" (ngModelChange)="on_input_change();">
                            </td>
                            <td class="grid-thead" style="width: 5%" colspan="3">
                                <input type="text" placeholder="Supplier 3" style="text-align:center;"
                                class="input-personalized" [(ngModel)]="baseEntity.Supplier3" (ngModelChange)="on_input_change();">
                            </td>
                        </tr>
                        <tr class="grid-tr">
                            <!-- <td class="grid-thead" style="width: 6%;"></td> -->
                            <td class="grid-thead" style="width: 6%">Item number</td>
                            <td class="grid-thead" style="width: 30%">Description</td>
                            <td class="grid-thead" style="width: 5%">U/M</td>
                            <td class="grid-thead" style="width: 5%">Quantity.</td>
                            <td class="grid-thead" style="width: 3%">Currency</td>
                            <td class="grid-thead" style="width: 5%">Price Each</td>
                            <td class="grid-thead" style="width: 5%">Total</td>
                            <td class="grid-thead" style="width: 3%">Currency</td>
                            <td class="grid-thead" style="width: 5%">Price Each</td>
                            <td class="grid-thead" style="width: 5%">Total</td>
                            <td class="grid-thead" style="width: 3%">Currency</td>
                            <td class="grid-thead" style="width: 5%">Price Each</td>
                            <td class="grid-thead" style="width: 5%">Total</td>
                        </tr>
                        
                        <tr *ngFor="let item of baseEntity.PRLines; let i = index;" class="grid-tr">
                        
                            <!-- <td style="text-align: center !important;">
                                <button  class="btn-link" (click)="removeItemLocally(i);">Delete</button>
                            </td> -->
                        
                            <td>
                                <input [(ngModel)]="item.ItemNumber" class="input-personalized-no-border"
                                (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>
                        
                            <td>
                                <textarea matInput class="input-personalized-no-border" 
                                [(ngModel)]="item.Description" matTextareaAutosize matAutosizeMaxRows="10"
                                (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"> </textarea>
                            </td>
                        
                            <td>
                                <input class="input-personalized-no-border" [(ngModel)]="item.UM"
                                 (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>
                        
                            <td>
                                <input class="input-personalized-no-border" [(ngModel)]="item.Qty"
                                 (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td>
                                <mat-select placeholder="Select.." [(ngModel)]="item.Currency" 
                                (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{ currency.value }}
                                    </mat-option>
                                </mat-select>
                            </td>
                        
                            <td>
                                <input class="input-personalized-no-border" [(ngModel)]="item.PriceEach"
                                (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>
                        
                            <td>
                                <p style="text-align: center;font-weight: bold;">{{item.PriceEach * item.Qty | currency}}</p>
                            </td>

                            <td>
                                <mat-select placeholder="Select.." [(ngModel)]="item.Currency" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{ currency.value }}
                                    </mat-option>
                                </mat-select>
                            </td>

                            <td>
                                <input class="input-personalized-no-border" 
                                [(ngModel)]="item.PriceEach2" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>
                            
                            <td>
                                <p style="text-align: center;font-weight: bold;">{{item.PriceEach2 * item.Qty | currency}}</p>
                            </td>

                            <td>
                                <mat-select placeholder="Select.." [(ngModel)]="item.Currency" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{ currency.value }}
                                    </mat-option>
                                </mat-select>
                            </td>

                            <td>
                                <input class="input-personalized-no-border"
                                [(ngModel)]="item.PriceEach3" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>
                            
                            <td>
                                <p style="text-align: center;font-weight: bold;">{{item.PriceEach3 * item.Qty | currency}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div col-12 class="notes">
                <p>Notes</p>
                <textarea matInput [(ngModel)]="baseEntity.Notes" matAutosizeMinRows="2"
                (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"
                    matTextareaAutosize matAutosizeMaxRows="10" class="input-personalized"> </textarea>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding style="background-color: rgb(255, 255, 255);">
                        <ion-grid>
                            <ion-row col-12 col-md-12 col-lg-12 col-xl-12>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Purpose or Use
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="input-personalized" [(ngModel)]="baseEntity.PurposeOrUse" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Requisition name
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="input-personalized" [(ngModel)]="baseEntity.RequisitionName" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Department
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="input-personalized" [(ngModel)]="baseEntity.Department" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Date
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" class="date-input input-personalized"
                                        (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.ConvertedDateDepartmentManager">
                                        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Department manager
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <mat-select [(ngModel)]="baseEntity.DepartmentManager" placeholder="Select.."
                                        class="input-personalized" style="width:90%;" (ngModelChange)="on_input_change(item);">
                                            <mat-option *ngFor="let manager of managers" [value]="manager.value">
                                                {{ manager.value }}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <input type="text" class="input-personalized" [(ngModel)]="baseEntity.DepartmentManager" /> -->
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>

                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding style="background-color: rgb(255, 255, 255);">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Manager Signature
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="input-personalized" [(ngModel)]="baseEntity.PurposedOrUse" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        General Manager
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="input-personalized" [(ngModel)]="baseEntity.GeneralManager" />
                                </ion-col>
                                <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Date
                                </ion-col>
                                <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input [matDatepicker]="myDatepicker2" (click)="myDatepicker2.open()" class="date-input input-personalized"
                                        (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.ConvertedDateGeneralManager">
                                        <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker2></mat-datepicker>
                                    </ion-col>
                                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-lg-3>
                                        Account No.
                                    </ion-col>
                                    <ion-col col-9 col-sm-9 col-md-9 col-lg-9 col-lg-9>
                                        <input type="text" class="input-personalized" [(ngModel)]="baseEntity.AccountNo" />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <div class="footer-nav">
        <button type="submit" (click)="save()" class="footer-save">
            <ion-icon name="ios-save"></ion-icon>SAVE</button>
    </div><br>
</div>

<br><br>
<pre style="background: rgb(255, 255, 255);min-height: 20px;">{{ baseEntity | json }}</pre>
