comments-component {
    .comment-wrapper {
        background: white;
        border: 1px solid #ececec;
        width:70%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        box-shadow: 1px 2px 3px #ececec;
    }

    .type-comment-section, .comments-section {
        padding: 1.5%;
    }

    .comment-header {
        font-size: 20px;
        font-weight: 600;
    }

    .single-comment {
        border-top: 1px solid #e7e7e7;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
    }

    .single-comment-user {
        margin-bottom: 6px;
    }

    .single-comment-left {
        display: inline-block;
        width: 6%;
    }

    .single-comment-body {
        display: inline-block;
        width: 93%;
        vertical-align: top;
    }

    .section-img {
        max-width:50px;
        max-height:50px;
    }

    .textarea-comment {
        width: 85%;
        margin: auto;
    }

    .btn-send-comment {
        margin-left: 10px;
    }
}