<ion-card>
    <ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col col-10 col-sm-10 col-md-10 col-lg-10 col-lg-10>
                    <h1><b>Purchase Request</b> - {{ baseEntity.ApprovalStatus }} </h1>
                </ion-col>
                <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-lg-2>
                    <b>PR Number:</b>&nbsp;&nbsp; {{ baseEntity.PRNumber?.GeneratedNumber }}
                    <br>
                    <b>PO Number:</b>&nbsp;&nbsp;
                    <input type="text" class="form-input border-bottom" (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.PONumber"
                        style="width:55%;" [disabled]="getCurrentRole() != 'Buyer' " >
                </ion-col>
            </ion-row>
        </ion-grid>
        <div style="margin-left:14px;margin-top:10px;">
            <mat-form-field style="width:99%;">
                <input matInput [(ngModel)]="baseEntity.FriendlyIdentifier" [disabled]="baseEntity.ApprovalStatus == 'Approved' " 
                placeholder="Fiendly Identifier" (ngModelChange)="on_input_change();">
            </mat-form-field>
        </div>
        <div style="margin-left:14px;">
            <attachments-box-component [readonly]="getLockedStatus()" [ownerEntity]="baseEntity" kind="PR_Attachments"></attachments-box-component>
        </div>
    </ion-card-header>

    <ion-card-content>
        <fieldset [disabled]="getLockedStatus()" class="printableZone" style="border:none;">

            <!-- ================= Dynamic table ================= -->
            <div class="table-responsive form-grid">
                <table class="table-pr">
                    <thead>
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="2" [ngClass]="getSupplier1Style()">
                                <mat-select placeholder="$" class="currencies" [(ngModel)]="baseEntity.SupplierCurrency1" (ngModelChange)="on_input_change(item);">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                                        {{ currency }}
                                    </mat-option>
                                </mat-select>
                                <mat-select class="select-suppliers" [(ngModel)]="baseEntity.Supplier1Key" (ngModelChange)="on_input_change(item);on_supplier_select();">
                                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierKey">
                                        {{ supplier.Value }}
                                    </mat-option>
                                </mat-select>
                                <button (click)="newSupplier()" class="add-supplier" [ngClass]="getSupplier1Style()">+</button>
                            </th>

                            <th colspan="2" [ngClass]="getSupplier2Style()">
                                <mat-select placeholder="$" class="currencies" [(ngModel)]="baseEntity.SupplierCurrency2" (ngModelChange)="on_input_change(item);">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                                        {{ currency }}
                                    </mat-option>
                                </mat-select>
                                <mat-select class="select-suppliers" [(ngModel)]="baseEntity.Supplier2Key" (ngModelChange)="on_input_change(item);on_supplier_select();">
                                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierKey">
                                        {{ supplier.Value }}
                                    </mat-option>
                                </mat-select>
                                <button (click)="newSupplier()" class="add-supplier" [ngClass]="getSupplier2Style()">+</button>
                            </th>

                            <th colspan="2" [ngClass]="getSupplier3Style()">
                                <mat-select placeholder="$" class="currencies" [(ngModel)]="baseEntity.SupplierCurrency3" (ngModelChange)="on_input_change(item);">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                                        {{ currency }}
                                    </mat-option>
                                </mat-select>
                                <mat-select class="select-suppliers" [(ngModel)]="baseEntity.Supplier3Key" (ngModelChange)="on_input_change(item);on_supplier_select();">
                                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierKey">
                                        {{ supplier.Value }}
                                    </mat-option>
                                </mat-select>
                                <button (click)="newSupplier()" class="add-supplier" [ngClass]="getSupplier3Style()">+</button>
                            </th>
                        </tr>
                        <tr>
                            <th width="6%">Item number</th>
                            <th width="35%">Description</th>
                            <th width="5%">U/M</th>
                            <th width="4%">Quantity.</th>
                            <th width="7%">Price Each</th>
                            <th width="7%">Total</th>
                            <th width="7%">Price Each</th>
                            <th width="7%">Total</th>
                            <th width="7%">Price Each</th>
                            <th width="7%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of baseEntity.PRLines; let i = index;" class="grid-tr">
                            <td width="6%">
                                <input [(ngModel)]="item.ItemNumber" class="form-input" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td width="35%">
                                <textarea matInput class="form-input" style="width:99%;" [(ngModel)]="item.Description" matTextareaAutosize matAutosizeMaxRows="10"
                                    (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"> </textarea>
                            </td>

                            <td width="5%">
                                <input class="form-input" [(ngModel)]="item.UM" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td width="5%">
                                <input class="form-input" [(ngModel)]="item.Qty" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td width="7%">
                                <input class="form-input" [(ngModel)]="item.PriceEach" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td width="7%">
                                <p style="text-align: center;font-weight: bold;">{{item.PriceEach * item.Qty | currency}}</p>
                            </td>

                            <td width="5%">
                                <input class="form-input" style="width:99%;" [(ngModel)]="item.PriceEach2" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td width="5%">
                                <p style="text-align: center;font-weight: bold;">{{item.PriceEach2 * item.Qty | currency}}</p>
                            </td>
                            <td width="7%">
                                <input class="form-input" style="width:99%;" [(ngModel)]="item.PriceEach3" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                            </td>

                            <td width="7%">
                                <p style="text-align: center;font-weight: bold;">{{item.PriceEach3 * item.Qty | currency}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="border: 1px solid white; border-top: 1px solid rgb(70, 70, 70);"></td>
                            <td class="td-select">
                                <button (click)="selectSupplier1()">Select</button>
                            </td>
                            <td>
                                <span>
                                    <b>{{ getSupplier1Sum() | currency }}</b>
                                </span>
                            </td>
                            <td class="td-select">
                                <button (click)="selectSupplier2()">Select</button>
                            </td>
                            <td>
                                <span>
                                    <b>{{ getSupplier2Sum() | currency }}</b>
                                </span>
                            </td>
                            <td class="td-select">
                                <button (click)="selectSupplier3()">Select</button>
                            </td>
                            <td>
                                <span>
                                    <b>{{ getSupplier3Sum() | currency }}</b>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- ================= Form ================= -->
            <div ion-row no-padding class="form">
                <div col-md-6 col-sm-12 ion-row>
                    
                    <div col-md-2 col-sm-12>
                        <b>Use</b>
                    </div>
                    <div col-md-10  col-sm-12>
                        <input type="text" class="form-input border-bottom" [(ngModel)]="baseEntity.PurposeOrUse" />
                    </div>

                    <div col-md-2 col-sm-12>
                        <b>Requisitor</b>
                    </div>
                    <div col-md-10 col-sm-12>
                        <p class="p-user">{{ baseEntity.Requisitor?.Value }}</p>
                    </div>

                    <div col-md-2 col-sm-12>
                        <b>Department</b>
                    </div>
                    <div col-md-10 col-sm-12>
                        <p class="p-user">{{ baseEntity.DepartmentAssigned?.Value }}</p>
                    </div>

                    <div col-md-2 col-sm-12>
                        <b>Date</b>
                    </div>
                    <div col-md-10 col-sm-12>
                        <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" class="form-input border-bottom"
                        (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.ConvertedDateDepartmentManager">
                        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </div>

                </div>
                
                <div col-md-6 col-sm-12 ion-row>
                
                    <div col-md-2 col-sm-12>
                        <b>Approver</b>
                    </div>
                    <div col-md-10 col-sm-12>
                        <p class="p-user">{{ getApproverByKey(getApprover())?.Value }}</p>
                    </div>
                
                    <div col-md-2 col-sm-12>
                        <b>Manager Signature</b>
                    </div>
                    <div col-md-10 col-sm-12>
                        <input type="text" class="form-input border-bottom" [(ngModel)]="baseEntity.PurposedOrUse" />
                    </div>
                
                    <div col-md-2 col-sm-12>
                        <b>Account</b>
                    </div>
                    <div col-md-10 col-sm-12>
                        <mat-select [disabled]="getLockedStatus()" [(ngModel)]="baseEntity.AccountNo" placeholder="Select.." (ngModelChange)="on_input_change(item);" class="border-bottom"
                            style="width:80%;">
                            <mat-option *ngFor="let account of accounts" [value]="account.id">
                                {{ account.Value }} &nbsp;&nbsp;&nbsp; {{ account.Description}}
                            </mat-option>
                        </mat-select>
                    </div>
                
                </div>
            </div>
            </fieldset>
            <!-- ================= notes ================= -->
            <ion-grid>
                <ion-row>
                    <ion-col col-xs-12 col-sm-12 col-md-5 col-lg-5 no-padding>
                        <div class="box-pr-form notes">
                            <div>
                                <p>Notes</p>
                            </div>
                            <textarea [disabled]="getLockedStatus()" matInput [(ngModel)]="baseEntity.Notes" matAutosizeMinRows="6" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"
                                matTextareaAutosize matAutosizeMaxRows="10" class="form-input border-bottom" style="width:98%;"> </textarea>
                        </div>
                    </ion-col>
                    <ion-col col-sm-12 col-xs-12 col-md-2 no-padding></ion-col>
                    <ion-col col-sm-12 col-xs-12 col-md-5 no-padding>
                        <approval-form-component [pr]="baseEntity" [approverKey]="getApprover()"></approval-form-component>
                    </ion-col>
                </ion-row>
            </ion-grid>

    </ion-card-content>
</ion-card>

<div class="div-buttons">
    <div>
        <button type="button" (click)="print()" mat-raised-button color="primary">Print</button>
        <button *ngIf="!getLockedStatus() || (getCurrentRole() == 'Buyer' && baseEntity.ApprovalStatus == 'Approved') " type="submit" (click)="save()" mat-raised-button color="primary">Save</button>
    </div>
</div>
<!-- <pre>{{ baseEntity | json }}</pre> -->