<!doctype html>
<html ng-app="Main" ng-controller="MainController">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css">
    <!-- Place favicon.ico in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/ngActivityIndicator/css/ngActivityIndicator.css" />
    <link rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.css" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/bower_components/pikaday/css/pikaday.css" />
    <link rel="stylesheet" href="/bower_components/handsontable/dist/handsontable.css" />
    <link rel="stylesheet" href="/bower_components/alertify-js/build/css/alertify.min.css" />
    <link rel="stylesheet" href="/bower_components/alertify-js/build/css/themes/default.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- <ul class="nav navbar-nav navbar-right" ng-if="true">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{theme.name}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="aTheme in bootstraps"><a href="" ng-click="setTheme($index)">{{aTheme.name}}</a></li>
                            </ul>
                        </li>
                    </ul> -->
    <section layout="column" id="mainSection" style="height: 100%;visibility: hidden;">
        <md-sidenav md-component-id="main-sidenav" md-whiteframe="4" ng-if="currentUser">
            <md-toolbar class="MainToolbar">
                <div class="md-toolbar-tools">
                    <h1 flex>Menu</h1>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMainSideNav()">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-margin>
                <md-list>
                    <md-list-item ng-href="#!/home" ng-click="toggleMainSideNav()">
                        <md-icon><i class="fa fa-home" aria-hidden="true" style="font-size: 20px;"></i></md-icon>
                        <p> Home </p>
                    </md-list-item>
                    <md-list-item ng-href="#!/pr-list" ng-click="toggleMainSideNav()">
                        <p> PR List </p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-menu-origin><i class="fa fa-book" aria-hidden="true" style="font-size: 20px;top: -6px;position: relative;"></i></md-icon>
                        <p> Catalogs </p>
                        <md-menu class="md-secondary" md-offset="0 40">
                            <md-button class="md-icon-button">
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-href="#!/users" ng-click="toggleMainSideNav()"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i> Users
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-menu-origin><i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px;top: -6px;position: relative;"></i></md-icon>
                        <p>{{currentUser.Value}}</p>
                        <md-menu class="md-secondary" md-offset="0 40">
                            <md-button class="md-icon-button">
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-href="#!/profile" ng-click="toggleMainSideNav()">
                                        Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="logOut()">
                                        Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-toolbar ng-if="currentUser" class="MainToolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMainSideNav()">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2 flex md-truncate>Main</h2>
                <md-nav-bar md-selected-nav-item="home" nav-bar-aria-label="navigation links" hide-xs>
                    <md-nav-item md-nav-href="#!/" name="home" aria-label="Home">
                        <i class="fa fa-home" aria-hidden="true" style="font-size: 20px;"></i> Home
                    </md-nav-item>
                    <md-nav-item md-nav-href="#!/pr-list" name="prList" aria-label="PRList">
                        PR List
                    </md-nav-item>
                </md-nav-bar>
                <md-menu md-position-mode="target-right target" md-offset="80 40" hide-xs>
                    <md-button aria-label="Open User Menu" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin><i class="fa fa-book" aria-hidden="true" style="font-size: 20px;top: -6px;position: relative;"></i></md-icon>
                        <span>Catalogs</span>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-href="#!/users">
                                <div layout="row" flex>
                                    <span flex></span>
                                    <p>Users &nbsp<i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i></p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu md-position-mode="target-right target" md-offset="300 40">
                    <md-button aria-label="Open User Menu" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin>person</md-icon>
                        <span>{{currentUser.Value}}</span>
                    </md-button>
                    <md-menu-content width="3">
                        <!-- <md-menu-item>
                            <md-button ng-href="#!/profile">
                                <div layout="row" flex>
                                    <span flex></span>
                                    <p>Profile</p>
                                </div>
                            </md-button>
                        </md-menu-item> -->
                        <md-menu-item>
                            <md-button ng-click="logOut()">
                                <div layout="row" flex>
                                    <span flex></span>
                                    <p>Logout</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-content flex layout-padding class="MainContent">
            <div ng-view=""></div>
        </md-content>
    </section>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script> -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/bower_components/ngActivityIndicator/ngActivityIndicator.js"></script>
    <script src="/bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="/bower_components/sifter/sifter.js"></script>
    <script src="/bower_components/microplugin/src/microplugin.js"></script>
    <script src="/bower_components/selectize/dist/js/selectize.js"></script>
    <script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/numbro/numbro.js"></script>
    <script src="/bower_components/pikaday/pikaday.js"></script>
    <script src="/bower_components/handsontable/dist/handsontable.js"></script>
    <script src="/bower_components/alertify-js/build/alertify.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <!-- endbuild -->
    <script src="scripts/vendor/alertify-defaults.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/crud-factory.js"></script>
    <script src="scripts/services/crud-services.js"></script>
    <script src="scripts/services/form-controller.js"></script>
    <script src="scripts/services/list-controller.js"></script>
    <script src="scripts/services/app-config.js"></script>
    <script src="scripts/services/auth-interceptor-service.js"></script>
    <script src="scripts/services/auth-service.js"></script>
    <script src="scripts/services/qserial-decorator.js"></script>
    <script src="scripts/directives/ng-selectize.js"></script>
    <script src="scripts/directives/attachments-box.js"></script>
    <script src="scripts/directives/modal.js"></script>
    <script src="scripts/directives/hide-when-loading.js"></script>
    <script src="components/User/user.form.controller.js "></script>
    <script src="components/User/user.list.controller.js "></script>
    <script src="components/User/user.form.component.js "></script>
    <script src="components/User/user.list.component.js "></script>
    <script src="components/Responsible/responsible.service.js"></script>
    <script src="components/Responsible/responsible.component.js"></script>
    <script src="components/Responsible/responsible.list.component.js"></script>
    <!-- start:generated:components -->
    <script src="components/PurchaseRequest/purchase.request.service.js"></script>
    <script src="components/PurchaseRequest/purchase.request.form.controller.js"></script>
    <script src="components/PurchaseRequest/purchase.request.list.controller.js"></script>
    <script src="components/PurchaseRequest/purchase.request.form.component.js"></script>
    <script src="components/PurchaseRequest/purchase.request.list.component.js"></script>
    <script src="components/PrLine/pr.line.service.js"></script>
    <script src="components/PrLine/pr.line.form.controller.js"></script>
    <script src="components/PrLine/pr.line.list.controller.js"></script>
    <script src="components/PrLine/pr.line.form.component.js"></script>
    <script src="components/PrLine/pr.line.list.component.js"></script>
    <!-- end:generated:components -->
    <!-- start:generated:routes -->
    <script src="routes/Main/main-route.js"></script>
    <script src="routes/Login/login-route.js"></script>
    <script src="routes/About/about-route.js"></script>
    <script src="routes/Profile/profile-route.js"></script>
    <script src="routes/Users/users-route.js"></script>
    <script src="routes/Pr/pr-route.js"></script>
    <script src="routes/PrList/pr-list-route.js"></script>
    <!-- end:generated:routes -->
</body>

</html>
