list-component {

    section {
        width: 70%;
        margin: auto;
    }
    
    .trash {
        font-size: 20px;
        margin-left: 20px;
    }
    tr:hover{
        background: rgb(223, 223, 223);
        -webkit-transition: 0.7s;
    }
    .button-fixed-list {
        right: 15% !important;
    }

    @media (min-width:800px) {
        .width-4{
            width:4%;
        }
        .width-10{
            width:10%;
        }
        .width-15{
            width:15%;
        }
        .width-7{
            width:7%;
        }
    }
}