<section *ngIf="filterOptions"  class="search">
  <input type="text" class="input-search" placeholder="Search" [(ngModel)]="filterOptions.filterGeneral" (ngModelChange)="refresh();">
  <button class="button-search  primary-color" (click)="refresh();">
    <ion-icon name="ios-search" md="md-search"></ion-icon>
  </button>
</section>

<section class="table-responsive-vertical shadow-z-1" ng-hide="!baseList || baseList.length == 0">
  <mat-paginator #paginator [pageSize]="filterOptions?.limit" [length]="filterOptions?.itemsCount" [pageIndex]="filterOptions?.page -1"
    [pageSizeOptions]="[5, 10, 20, 50, 100]" (page)="pageChanged($event.pageIndex + 1, $event.pageSize);">
  </mat-paginator>
  <table class="table table-condensed" style="table-layout: fixed;">
    <thead>
      <tr>
        <th class="width-10">PR Number</th>
        <th>Description</th>
        <td class="width-7">Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of baseList">
        <td class="width-10" data-title="Account" (click)="openItem(item)">{{ item.PRNumber.GeneratedNumber }}</td>
        <td data-title="Description" (click)="openItem(item)">{{ item.FriendlyIdentifier }}</td>
        <td class="width-7" (click)="removeItem(item)">
          <ion-icon class="trash" name="ios-trash" md="md-trash"></ion-icon>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <button *ngIf="userService.LoggedUser.Roles != 'Administrator'"  mat-mini-fab color="primary" (click)="addItem()" class="button-fixed button-fixed-list">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </button>
</section>