<section class="section-main">
    <h3 class="header">Sections</h3>
    <section class="section-wrapper">
        <div class="section-div" style="margin-left:10%" (click)="openPR()">
            <label class="section-label" >PR List</label>
            <br><br>
            <img src="assets/imgs/list.png" class="section-img" />
        </div>
        <div class="section-div" (click)="openApproval()">
            <label class="section-label">Approvals</label>
            <br><br>
            <img src="assets/imgs/approvals.png" class="section-img"/>
        </div>
        <div class="section-div" (click)="openAccount()">
            <label class="section-label">Accounts</label>
            <br><br>
            <img src="assets/imgs/accounts.png" class="section-img"/>
        </div>
        <div class="section-div" (click)="openSupplier()">
            <label class="section-label">Suppliers</label>
            <br><br>
            <img src="assets/imgs/suppliers.png" class="section-img"/>
        </div>
        <div class="section-div" (click)="openProfile()">
            <label class="section-label">Profile</label>
            <br><br>
            <img src="assets/imgs/profile.png" class="section-img"/>
        </div>
        <div class="section-div" (click)="logout()">
            <label class="section-label">Logout</label>
            <br><br>
            <img src="assets/imgs/logout.png" class="section-img" />
        </div>
        <!-- <i class="material-icons">check_circle</i> -->
    </section>
</section>