<!-- ==================== PR SECTION ================= -->
<section class="pr-section">
    <div class="pr-header">
        <div class="pr-header-number">
            <b>Purchase Request -</b> {{ baseEntity.PRNumber?.GeneratedNumber }}
        </div>
        <div class="pr-header-bar">
            <span class="bar-status pending">{{ baseEntity.ApprovalStatus }}</span>
            <mat-progress-bar class="progress-bar"  mode="determinate" [value]="displayStatusBar(baseEntity.ApprovalStatus)"></mat-progress-bar> 
        </div>
        <div class="pr-header-po-number">
                <input type="text" class="form-input border-bottom" (ngModelChange)="on_input_change()" 
                placeholder="PO Number" [(ngModel)]="baseEntity.PONumber" [disabled]="getCurrentRole() != 'MRO' ">

                <input type="text" class="form-input border-bottom" (ngModelChange)="on_input_change();"
                placeholder="Invoice Number" [(ngModel)]="baseEntity.InvoiceNumber" [disabled]="getCurrentRole() != 'Finance' ">
        </div>
    </div>
    <div class="identifier-section">
        <mat-form-field class="identifier">
            <input matInput [(ngModel)]="baseEntity.FriendlyIdentifier" [disabled]="baseEntity.ApprovalStatus == 'Approved' "
            placeholder="Fiendly Identifier" (ngModelChange)="on_input_change();">
        </mat-form-field>
        <div class="identifier-buttons">
            <mat-form-field class="contact">
                <input matInput [(ngModel)]="baseEntity.SupplierContact1" [disabled]="baseEntity.ApprovalStatus == 'Approved' " placeholder="Contact"
                    (ngModelChange)="on_input_change();">
            </mat-form-field>
            <mat-form-field class="contact">
                <input matInput [(ngModel)]="baseEntity.SupplierContact2" [disabled]="baseEntity.ApprovalStatus == 'Approved' " placeholder="Contact"
                    (ngModelChange)="on_input_change();">
            </mat-form-field>
            <mat-form-field class="contact">
                <input matInput [(ngModel)]="baseEntity.SupplierContact3" [disabled]="baseEntity.ApprovalStatus == 'Approved' " placeholder="Contact"
                    (ngModelChange)="on_input_change();">
            </mat-form-field>
        </div>
    </div>

    <fieldset [disabled]="getLockedStatus()" class="printableZone" style="border:none;">
    <!-- ================= DYNAMIC TABLE ================= -->
        <div class="table-responsive form-grid">
            <table class="table-pr">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="2" [ngClass]="getSupplierStyle(1)">
                            <mat-select placeholder="$" class="currencies" [(ngModel)]="baseEntity.SupplierCurrency1" (ngModelChange)="on_input_change(item);">
                                <mat-option *ngFor="let currency of currencies" [value]="currency">
                                    {{ currency }}
                                </mat-option>
                            </mat-select>
                            <mat-select class="select-suppliers" [(ngModel)]="baseEntity.Supplier1Key" (ngModelChange)="on_input_change(item);on_supplier_select();">
                                <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierKey">
                                    {{ supplier.Value }}
                                </mat-option>
                            </mat-select>
                            <button (click)="newSupplier()" class="add-supplier" [ngClass]="getSupplierStyle(1)">+</button>
                        </th>

                        <th colspan="2" [ngClass]="getSupplierStyle(2)">
                            <mat-select placeholder="$" class="currencies" [(ngModel)]="baseEntity.SupplierCurrency2" (ngModelChange)="on_input_change(item);">
                                <mat-option *ngFor="let currency of currencies" [value]="currency">
                                    {{ currency }}
                                </mat-option>
                            </mat-select>
                            <mat-select class="select-suppliers" [(ngModel)]="baseEntity.Supplier2Key" (ngModelChange)="on_input_change(item);on_supplier_select();">
                                <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierKey">
                                    {{ supplier.Value }}
                                </mat-option>
                            </mat-select>
                            <button (click)="newSupplier()" class="add-supplier" [ngClass]="getSupplierStyle(2)">+</button>
                        </th>

                        <th colspan="2" [ngClass]="getSupplierStyle(3)">
                            <mat-select placeholder="$" class="currencies" [(ngModel)]="baseEntity.SupplierCurrency3" (ngModelChange)="on_input_change(item);">
                                <mat-option *ngFor="let currency of currencies" [value]="currency">
                                    {{ currency }}
                                </mat-option>
                            </mat-select>
                            <mat-select class="select-suppliers" [(ngModel)]="baseEntity.Supplier3Key" (ngModelChange)="on_input_change(item);on_supplier_select();">
                                <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierKey">
                                    {{ supplier.Value }}
                                </mat-option>
                            </mat-select>
                            <button (click)="newSupplier()" class="add-supplier" [ngClass]="getSupplierStyle(3)">+</button>
                        </th>
                    </tr>
                    <tr>
                        <th width="4%">Number</th>
                        <th width="35%">Description</th>
                        <th width="5%">U/M</th>
                        <th width="4%">Quantity</th>
                        <th width="7%">Price Each</th>
                        <th width="7%">Total</th>
                        <th width="7%">Price Each</th>
                        <th width="7%">Total</th>
                        <th width="7%">Price Each</th>
                        <th width="7%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of baseEntity.PRLines; let i = index;">
                        <td width="6%">
                            <input [(ngModel)]="item.ItemNumber" class="form-input" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                        </td>
                        <td width="35%">
                            <textarea matInput class="form-input" style="width:99%;" [(ngModel)]="item.Description" matTextareaAutosize matAutosizeMinRows="1"
                            matAutosizeMaxRows="5" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"> </textarea>
                        </td>

                        <td width="5%">
                            <input class="form-input" [(ngModel)]="item.UM" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                        </td>

                        <td width="5%">
                            <input class="form-input" [(ngModel)]="item.Qty" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                        </td>

                        <td width="7%">
                            <input class="form-input" [(ngModel)]="item.PriceEach" style="width:99%;" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                        </td>

                        <td width="7%" class="total-price1">
                            <p style="text-align: center;font-weight: bold;">{{item.PriceEach * item.Qty | currency}}</p>
                        </td>

                        <td width="5%">
                            <input class="form-input" style="width:99%;" [(ngModel)]="item.PriceEach2" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                        </td>

                        <td width="5%">
                            <p style="text-align: center;font-weight: bold;">{{item.PriceEach2 * item.Qty | currency}}</p>
                        </td>
                        <td width="7%">
                            <input class="form-input" style="width:99%;" [(ngModel)]="item.PriceEach3" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)">
                        </td>

                        <td width="7%">
                            <p style="text-align: center;font-weight: bold;">{{item.PriceEach3 * item.Qty | currency}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="blank-td"></td>
                        <td class="td-select">
                            <button (click)="selectSupplier(1)">Select</button>
                        </td>
                        <td class="print-total">
                            <span>
                                <b>{{ getSupplier1Sum() | currency }}</b>
                            </span>
                        </td>
                        <td class="td-select">
                            <button (click)="selectSupplier(2)">Select</button>
                        </td>
                        <td class="print-total">
                            <span>
                                <b>{{ getSupplier2Sum() | currency }}</b>
                            </span>
                        </td>
                        <td class="td-select">
                            <button (click)="selectSupplier(3)">Select</button>
                        </td>
                        <td class="print-total">
                            <span>
                                <b>{{ getSupplier3Sum() | currency }}</b>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    <!-- ================= FORM SECTION ================= -->
    <div class="form">

        <div class="col-md-6 col-sm-12 form-child">
            <div class="col-md-2 col-sm-12 form-description">Use</div>
            <div class="col-md-10 col-sm-12 form-value">
                <input type="text" class="form-input border-bottom" [(ngModel)]="baseEntity.PurposeOrUse" />
            </div>
            <div class="col-md-2 col-sm-12 form-description">Requisitor</div>
            <div class="col-md-10 col-sm-12 form-value">
                <p class="p-user">{{ baseEntity.Requisitor?.Value }}</p>
            </div>
            <div class="col-md-2 col-sm-12 form-description">Department</div>
            <div class="col-md-10 col-sm-12 form-value">
                <p class="p-user">{{ baseEntity.DepartmentAssigned?.Value }}</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 form-child">
            <div class="col-md-2 col-sm-12 form-description">Approver</div>
            <div class="col-md-10 col-sm-12 form-value">
                <mat-select placeholder="Select..." [(ngModel)]="baseEntity.DepartmentManagerKey" class="border-bottom" style="width:80%;margin-bottom:5px;"
                    (ngModelChange)="on_input_change(item);">
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{ user.Value }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-2  col-sm-12 form-description">Account</div>
            <div class="col-md-10  col-sm-12 form-value">
                <mat-select placeholder="Select..." [(ngModel)]="baseEntity.GLAccountKey" class="border-bottom" style="width:80%;" (ngModelChange)="on_input_change(item);">
                    <mat-option *ngFor="let account of accounts" [value]="account.id">
                        {{ account.Value }} &nbsp;&nbsp; {{ account.Description }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-2  col-sm-12 form-description">Date</div>
            <div class="col-md-10  col-sm-12 form-value">
                <input [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" class="form-input border-bottom" (ngModelChange)="on_input_change()"
                [(ngModel)]="baseEntity.ConvertedDateDepartmentManager">
                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #myDatepicker></mat-datepicker>
            </div>
        </div>
         
    </div> 
    </fieldset>

    <div class="save-section">
        <button mat-raised-button color="accent" *ngIf="!getLockedStatus()" class="btn-save" (click)="save()">Save</button>
        <button mat-raised-button color="accent" class="btn-save" (click)="print()"><i class="material-icons">print</i></button>
    </div>
</section>

<!-- ==================== ACTION SECTION ================= -->
<section class="col-md-12 action-section">
    <div class="col-md-6 col-sm-12 attachments">
        <h3 class="action-title">Attachments</h3>
        <attachments-box-component [readonly]="getLockedStatus()" [ownerEntity]="baseEntity" kind="PR_Attachments"></attachments-box-component>
    </div>
    <div class="col-md-6 col-sm-12 actions">
        <h3 class="action-title">Actions</h3>
        <div class="approval-actions">
            <approval-form-component [pr]="baseEntity" [approverKey]="getApprover()"></approval-form-component>
        </div>
    </div>
</section>

<!-- ==================== OPTIONAL SECTION ================= -->
<section class="col-md-12 optional-section">
    <div class="col-md-8 col-sm-12 comment-section">
        <comments-component [ownerEntity]="baseEntity"></comments-component>
    </div>
    <div class="col-md-4 col-sm-12 notes-section">
        <div class="col-md-12">Notes</div>
        <textarea [disabled]="getLockedStatus()" matInput [(ngModel)]="baseEntity.Notes" matAutosizeMinRows="8" (ngModelChange)="on_input_change(item);handleDynamicRows(baseEntity.PRLines)"
        matTextareaAutosize class="form-input border-bottom" style="width:98%"> </textarea>
    </div>  
</section>

<!-- <pre>{{ accounts | json }}</pre>-->
<!-- <pre>{{ baseEntity | json }}</pre>  -->