pr-component {

	.pr-section, .action-section {
		background: white;
		margin:15px;
		padding: 1%;
        border: 1px solid #e4e4e4;
        box-shadow: 1px 2px 3px #ececec;
	}
	
	.form-input{
		background-color: rgba(238, 238, 238, 0.02);
		border: none;
		-webkit-appearance: none;
		box-shadow:none;
	}
	
	.border-bottom{
		width: 80%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.36);
	}
	/* ==================== TABLE SECTION ================= */
	.identifier-section{
		display: flex;
	}

	.identifier{
		width:55%;
	}

	.identifier-buttons{
		width:55%;
	}

	.contact{
		width:25%;
		margin-left: 6%;
	}




	/* ==================== TABLE SECTION ================= */
	.pr-header{
		display: flex;
		margin-bottom: 2%;
	}

	.pr-header-number{
		width: 30%;
		font-size: 20px;
	}

	.pr-header-bar{
		width: 40%;
		font-size: 24px;
	}

	.pr-header-po-number{
		width: 30%;
		font-size: 15px;
		margin-left: 5%;
	}
	.pr-header-po-number>input{
		width:40%;
		margin-left: 5%;
	}

	.table-pr{
		width: 100%;
		text-align: center;
	}

	.table-pr>thead>tr{
		font-size: 17px;
	}

	.currencies{
		width: 20%;
		font-size: 14px;
	}
	
	.select-suppliers{
		width: 59%;
		font-size: 14px;
	}

	.add-supplier{
		width: 9%;
		background-color: rgb(240, 240, 240); 
    	font-size: 20px;
		font-weight: 200;
		text-decoration: none;
		border: none;
	}

	.SupplierSelected{
		background-color:#63b963;
	}

	th{
		background-color: rgb(235, 235, 235); 
		border: 1px solid rgba(185, 185, 185, 0.45);
		font-weight: 500;
		text-align: center;
	}

	td{
		border: 1px solid rgba(185, 185, 185, 0.45);
		text-align: center;
	}

	td>input{
		text-align: center;
	}

	.td-select{
		border-left: 1px solid white;
		border-bottom: 1px solid white;
	}

	.blank-td{
		border: 1px solid white;
		border-top: 1px solid rgb(70, 70, 70);
	}

	.td-select>button{
		background-color: white;
		border-radius: 3px;
		font-size: 16px;
		font-weight: 500;
	}

	.p-user{
		border-bottom: 1px solid #a0a0a0;
		width: 80%;
	}
	/* ==================== FORM SECTION ================= */
	.form{
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.form-description{
		font-size: 14px;
		font-weight: 600;
	}

	.form-child>div{
		margin-bottom: 10px;
	}

	.save-section{
		margin-left: 80%;
    	margin-bottom: 1%;
	}
	/* ==================== ACTION SECTION ================= */
	.action-section {
		width: 98%;
	}

	.action-title {
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		border-bottom: 1px solid rgb(206, 206, 206);
		margin-top: -3px;
		margin-bottom: 10px;	
		color: rgb(102, 102, 102);
	}

	.approval-actions{
		margin-top: 6%;
	}

	/* ==================== OPTIONAL SECTION ================= */
	.optional-section{
		margin-top: 15px;
		margin-left: -1%;
		width: 101%;
	}
	
	.optional-section{
		margin-bottom: 30px;
	}
	
	.notes-section{
		background-color:#ffffff;
        border: 1px solid #e4e4e4;
        box-shadow: 1px 2px 3px #ececec;
		height: 220px;
	}
	 
	.notes-section>div{
		text-align: center;
		font-size: 18px;
		font-weight: 600;
		background: #f1ce6e;
    	padding: 10px;
    	color: #454545;
		width: 107%;
    	margin-left: -3.5%;
	}

	.notes-section>textarea{
		border-bottom: none;
	}
	@media only screen and (max-width: 1500px) {
		.contact{
			width:17%;
			margin-left: 10%;
		}
	}
}