<!-- <nav class="toolbar-bottom">
    <div class="md-toolbar-tools">
        <span layout="row" flex="none">
            <input type="text" ng-model-options="{debounce: 200}" class="text-center form-control" placeholder="Search" ng-model="filterOptions.filterGeneral"
                style="max-width:180px;" ng-change="refresh()">
            <button type="button" class="btn btn-default" ng-click="filterOptions.filterGeneral = '';refresh();" style="padding: 4px 8px;">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
        <span flex></span>
    </div>
</nav>  -->

<div class="primary-color">
    <input type="text" class="input-search" placeholder="Search" [ngModel]="filterOptions?.filterGeneral"
        style="max-width:180px;">
</div>