.div-approval {
    height:100%;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
    padding: 1em;
}

.div-approval > p{
    font-size: 14px;
    text-decoration: none; 
}


.div-approval > input{
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid rgb(133, 133, 133);
}

approval-form-component {
    width: 600px !important;
    margin: auto;
}