<div class="box-pr-form approval-comments">
  <div class="header">
    <p>Approval</p>
  </div>
  <div class="body">

    <mat-form-field class="input" *ngIf=" getCurrentRole() === 'DepartmentManager' || getCurrentRole() === 'GeneralManager' || getCurrentRole() === 'MRO' ">
      <input matInput placeholder="Request" [(ngModel)]="baseEntity.RequestDescription" readonly>
    </mat-form-field>
    <mat-form-field class="input" *ngIf=" getCurrentRole() === 'User' " matInput placeholder="Request">
      <input *ngIf=" getCurrentRole() === 'User' " matInput placeholder="Request" [(ngModel)]="baseEntity.RequestDescription">
    </mat-form-field>
    <br>
    <mat-form-field class="input" *ngIf=" getCurrentRole() === 'DepartmentManager' || getCurrentRole() === 'GeneralManager' ">
      <input matInput placeholder="Response" [(ngModel)]="baseEntity.ResponseDescription">
    </mat-form-field>
    <mat-form-field class="input" *ngIf=" getCurrentRole() === 'User' || getCurrentRole() === 'MRO' ">
      <input matInput placeholder="Response" [(ngModel)]="baseEntity.ResponseDescription" readonly>
    </mat-form-field>

  </div>

</div>


<div class="div-buttons">
  <button *ngIf=" ( getCurrentRole() === 'DepartmentManager' || getCurrentRole() === 'GeneralManager' ) 
                       && (  baseEntity.Status==='Rejected' || baseEntity.Status === 'Pending' ) " type="submit" mat-raised-button
    color="primary" (click)="answerApproval('Quote')">Approve</button>
  <button *ngIf=" ( getCurrentRole() === 'DepartmentManager' || getCurrentRole() === 'GeneralManager' ) 
                      && (  baseEntity.Status==='Quote'  || baseEntity.Status === 'Pending' )" type="submit" mat-raised-button
    color="warn" (click)="answerApproval('Rejected')">Reject</button>

  <button *ngIf=" ( getCurrentRole() === 'MRO' ) && (  baseEntity.Status==='Quote' )" 
    mat-raised-button color="primary" (click)="answerApproval('Approved')">Finalize</button>
  
  <button *ngIf="baseEntity.ApprovalKey === 0 " type="submit" mat-raised-button color="basic"
    (click)="save()">Request</button>
  </div>

<!-- <pre>{{ baseEntity | json }}</pre> -->