<div class="card-userForm">
  <div class="title-userForm">
    <label>User</label>
  </div>
  <div>
    <ion-item class="item">
      <ion-input type="text" (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.Value" placeholder="Value" required autofocus></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-input type="text" (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.UserName" id="UserName" placeholder="Username"
        required autofocus></ion-input>
    </ion-item>

    <p class="p-role">Role</p>
    <select (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.Role" class="select-role">
      <option>Administrator</option>
      <option>User</option>
      <option>Doctor</option>
      <option>RH</option>
      <option>Finance</option>
    </select>

    <div class="card-password">
      <!-- in case of existing entity -->
      <ion-label *ngIf="baseEntity.UserKey > 0">Update password &nbsp;&nbsp;
        <ion-checkbox [(ngModel)]="baseEntity.ChangePassword"></ion-checkbox>
      </ion-label>

      <div *ngIf="baseEntity.UserKey == 0 || baseEntity.ChangePassword">
        <ion-item class="item">
          <ion-input type="password" placeholder="Password" (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.Password" id="password"
            required></ion-input>
        </ion-item>
        <ion-item class="item">
          <ion-input type="password" placeholder="Confirm password" (ngModelChange)="on_input_change()" [(ngModel)]="baseEntity.ConfirmPassword"
            required></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="error-message" *ngIf="errorMessage == ''">
      <label>hola {{ errorMessage }}</label>
    </div>
    <!-- <hr class="hr-form"> -->
    <div class="div-buttons">
      <button ion-button type="submit" (click)="save()" class="btn-submit">submit</button>
      <button ion-button (click)="close()" class="btn-close">Close</button>
    </div>
  </div>
</div>
<!-- <pre style="background: gray; min-height: 20px;">{{ baseEntity | json }}</pre> -->