<div class="card-userForm">
  <div class="custom-card-header">
    Users
  </div>
  
  <div class="custom-card-body">
    <input type="text" placeholder="Username" class="input-personalized input-lg" [(ngModel)]="baseEntity.UserName"
      (ngModelChange)="on_input_change();">

      <input type="text" placeholder="Username" class="input-personalized input-lg"
       [(ngModel)]="baseEntity.Value" (ngModelChange)="on_input_change();">
      
       <div class="div-select-role">
        <p>Role</p>
        <mat-select placeholder="Select.." [(ngModel)]="baseEntity.Role"
        (ngModelChange)="on_input_change(item);">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.value }}
          </mat-option>
        </mat-select>
      </div>

      <div class="card-password">
        <!-- in case of existing entity -->
        <label *ngIf="baseEntity.UserKey > 0">Update password &nbsp;
          <ion-checkbox [(ngModel)]="baseEntity.ChangePassword"></ion-checkbox>
        </label>
      
        <div *ngIf="baseEntity.UserKey == 0 || baseEntity.ChangePassword">
            <input type="password" placeholder="Password" (ngModelChange)="on_input_change(item)" 
            [(ngModel)]="baseEntity.Password" id="password" class="input-personalized input-lg" required/>

            <input type="password" placeholder="Confirm password" (ngModelChange)="on_input_change(item)" 
            [(ngModel)]="baseEntity.ConfirmPassword" class="input-personalized input-lg" style="margin-bottom: 4%;" required/>
        </div>
      </div>
  </div>
  
  <div class="custom-card-footer">
    <div class="div-footer">
      <button ion-button class="btn-close" (click)="close()" >CLOSE</button>
      <button ion-button type="submit" class="btn-save" (click)="save()" >SAVE</button>
      <!-- <pre style="background: gray; min-height: 20px;">{{ baseEntity | json }}</pre> -->
    </div>
  </div>
</div>