<div class="card">
  <div class="card-header">
    USERS
  </div>

  <div class="card-body">
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="baseEntity.Value" placeholder="Value" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User name" [(ngModel)]="baseEntity.UserName" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Role" [(ngModel)]="baseEntity.Role" (ngModelChange)="on_input_change(item);">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="baseEntity.Email" (ngModelChange)="on_input_change();">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Email Password" [(ngModel)]="baseEntity.EmailPassword" (ngModelChange)="on_input_change();">
      </mat-form-field>

      <div class="box-password">
        <!-- in case of existing entity -->
        <label style="font-size:16px; font-weight: 600;" *ngIf="baseEntity.UserKey > 0">Update password &nbsp;
          <ion-checkbox [(ngModel)]="baseEntity.ChangePassword"></ion-checkbox>
        </label>
      
        <div *ngIf="baseEntity.UserKey == 0 || baseEntity.ChangePassword">
          <input type="password" placeholder="Password" class="input-personalized input-password" [(ngModel)]="baseEntity.Password"
            (ngModelChange)="on_input_change();">
      
          <input type="password" placeholder="Confirm Password" class="input-personalized input-password" [(ngModel)]="baseEntity.ConfirmPassword"
            (ngModelChange)="on_input_change();">
        </div>
      </div> 


      <button mat-raised-button mat-dialog-close color="accent" (click)="save()">Save</button>
      <button mat-raised-button mat-dialog-close color="basic">Close</button>
    </div>
  </div>
</div>